[Unit]
Description=MCP3427 MQTT service
Requires=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
Environment="LD_LIBRARY_PATH=/usr/local/lib"
ExecStart=/usr/local/bin/mcp3427_mqtt --pt100 --usa

[Install]
WantedBy=multi-user.target

